.workout-page {
   background: #ebeaea;
   .exercise {
      margin: 10px;
      background: white;
      border-radius: 7px;
   }
   .exercise-label {
      font-size: 1.3em;
   }
   ion-col button {
      width: 100%;
      height: 0;
      padding: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      background-color: #42A5F5;
      transition: .3s;

      &:hover {
         background-color: #387ef5;
         @extend .z-depth-1-half;
      }
      &:before {
         border-radius: 0;
      }

      .button-inner {
         padding-top: 50%;   
      }
   }

}
