<ion-toolbar>
  <button (click)="goBack()" clear>
    <ion-icon name="arrow-back"></ion-icon>Back
  </button>
  <ion-title>{{workout.name}}</ion-title>
</ion-toolbar>
<ion-content class="workout-page">

  <div *ngIf="result">
    <!--
    <div>{{result.date}}</div>
    <div>{{result.userId}}</div>-->

    <div>
      <div *ngFor="#ex of result.exercises" class="exercise">
        <ion-row class="exercise-label">
          {{ex.exercise.name}}
        </ion-row>
        <ion-row>
          <ion-col *ngFor="#r of ex.reps">
            <div class="round-button">
              <div class="round-button-circle">
                <a href="#" class="round-button" (click)="initAndCountDown(r)">{{r.count}}</a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
