<ion-toolbar>
  <button large (click)="goBack()" clear>
    <ion-icon name="arrow-back"></ion-icon>Back
  </button>
  <ion-title>{{workout.name}}</ion-title>
  <ion-buttons end>
    <button (click)="toggleEdit()">
      <div *ngIf="isEditMode">
        Cancel
      </div>
      <div *ngIf="!isEditMode">
        Edit
      </div>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="workout-page">
  <div *ngIf="result">
    <!--
    <div>{{result.date}}</div>
    <div>{{result.userId}}</div>-->

    <div>
      <div *ngFor="#ex of result.exercises" class="exercise">
        <ion-list-header class="exercise-label">{{ex.exercise.name}}</ion-list-header>
        <ion-row>
          <ion-col *ngFor="#r of ex.reps">
            <button large type="button" class="btn-floating" (click)="initAndCountDown(r)">{{r.count}}</button>
            <div *ngIf="isEditMode">
              <button large type="button" class="btn-floating" (click)="doCheckbox(r)">{{r.weight}}</button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
